<!DOCTYPE html>
<html>
<head>
    <title>InkFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <h1>InkFlow</h1>

        <a href="/">🏠 Home</a>
        <a href="#">✍️ Create</a>
        <a href="#">👤 Profile</a>
        <a href="/admin">⚙️ Admin</a>
    </aside>

    <main class="feed">
        {% block content %}
        {% endblock %}
    </main>

    <aside class="rightbar">
        <h3>Trending</h3>
        <p>#Python</p>
        <p>#Django</p>
        <p>#AI</p>
    </aside>

</div>

</body>
</html>